@font-face {
    font-family: "raleway";
    src: url(polices/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: "raleway light";
    src: url(polices/Raleway-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'raleway', sans-serif;
}

.container {
    width: 1700px;
    margin: auto;
}

@media screen and (max-width: 1699px) {
    .container {
        width: auto;
    }
}

/* ------------------------------------------------------ */
    /* --------------------Header-------------------- */
/* ------------------------------------------------------ */

.header .listeHeader {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    align-items: center;
    margin-top: 30px;
    margin-left: -40px;
}

.items {
    list-style-type: none;
}

.itemsCenter {
    text-align: end;
}

.lienListe {
    text-decoration: none;
    color: black;
    padding: 30px;
}

.lienListe:hover {
    border-top: 3px solid #0065FC;
    padding-top: 43px;
    color: #0065FC;
}

.lienListe2 {
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
}

/* ------------------------------------------------------ */
    /* ----------------TitrePrincipal---------------- */
/* ------------------------------------------------------ */

.titrePrincipal {
    margin-top: 40px;
}

.grosTitre {
    font-family: 'raleway';
    font-weight: bold;
}

.sousTitre {
    font-size: 1.1em;
    margin-top: -10px;
}

/* ------------------------------------------------------ */
    /* ------------------InputSearch----------------- */
/* ------------------------------------------------------ */

.inputSearch {
    display: flex;
    margin-top: 30px;
}

.fa-location-dot {
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    padding: 20px;
}

.searchInput {
    width: 260px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
}

::placeholder {
    font-size: 1.6em;
}

.btn {
    width: 170px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: white;
    font-size: 1.3em;
}

@media screen and (max-width: 530px) {
    .btn {
        display: none;
    }
}

.btnLoupe {
    width: 58px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 15px 15px 15px 15px;
    color: white;
    margin-left: -15px;

    visibility: hidden;
}

@media screen and (max-width: 530px) {
    .btnLoupe {
        visibility: visible;
    }
}